.book-card-container {
  display: flex;
  justify-content: space-between;
  width: 70%;
}

.book-card {
  /* border: 0.5px solid rgb(222, 226, 230);
  background-color: rgb(79,61,57); */
  /* background-color: rgb(222, 226, 230); */
}
.card-text,
.card-title {
  margin: 0 1rem;
}

.card-title {
  font-weight: 600;
}

.book-info {
  width: 30%;
}

.book-title {
  width: 60%;
}

.actions {
  width: 10%;
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
}

@media (max-width: 767px) {
  .book-card-container {
    flex-direction: column;
    align-items: center;
  }

  .book-info,
  .book-title,
  .actions {
    width: 100%;
  }

  .book-info {
    margin-bottom: 1rem;
  }
}
