.add-book-container {
}

.add-book {
  background-color: #f7f6f6;
  margin: 5rem;
  padding: 5rem;

  border-radius: 2px;
}
.custom-input {
  width: 50%;
  margin: auto;
}

.add-book-btn {
  margin-top: 1rem;
  width: 50%;
  background-color: rgb(79, 61, 57);
  color: white;
  border: none;
  transition: transform 0.3s ease-in-out;
}

.add-book-btn:hover {
  cursor: pointer;
  background-color: transparent !important;
}
