/* HOME PAGE */
.welcome-h1 {
  font-size: 3rem;
  color: #2e302f;
}

.welcome-p {
  color: #2e302f;
  font-weight: 600;
}

.log-sig-btn-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.main-color-btn {
  background-color: #2e302f;
  border: none;
  transition: transform 0.3s ease-in-out;
}

.delete-update-color-btn {
  background-color: rgb(79, 61, 57);
  color: white;
  border: none;
  transition: transform 0.3s ease-in-out;
}

.delete-update-color-btn:hover {
  cursor: pointer;
  background-color: rgb(195, 176, 144);
}

.home-btn {
  background-color: #2e302f;
  border: none;
  transition: transform 0.3s ease-in-out;
}

.home-btn:hover,
.home-btn:active,
.home-btn:visited,
.home-btn:focus {
  transform: scale(1.1);
  background-color: white !important;
  border: 1px solid #2e302f !important;
  color: #2e302f !important;
  outline: none !important;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
  transform: scale(1.1);
  background-color: rgb(250, 235, 215);
  border: 1px solid #2e302f !important;
  color: #2e302f !important;
  outline: none !important;
}

.main-color-signup-btn {
  background-color: #2e302f;
  border: none;
  transition: transform 0.3s ease-in-out;
}

.main-color-signup-btn:hover,
.main-color-signup-btn:active,
.main-color-signup-btn:visited,
.main-color-signup-btn:focus {
  transform: scale(1.1);
  background-color: white !important;
  border: 1px solid #2e302f !important;
  color: #2e302f !important;
  outline: none !important;
}
/* END SIGNUP */

/* LOGIN */
.form-container-login {
  margin-top: 10rem;
}

.main-color-login-btn {
  background-color: #2e302f;
  border: none;
  transition: transform 0.3s ease-in-out;
}

.main-color-login-btn:hover,
.main-color-login-btn:active,
.main-color-login-btn:visited,
.main-color-login-btn:focus {
  transform: scale(1.1);
  background-color: white !important;
  border: 1px solid #2e302f !important;
  color: #2e302f !important;
  outline: none !important;
}
/* END LOGIN */
