.register-form-reg {
  margin-top: 15rem;
}

.form-container {
  max-width: 600px;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  color: #2e302f;
}

.register-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.switcher-text {
  font-size: 15px;
  margin-right: 5px;
}

.switch-reg-btn {
  background-color: white;
  border-radius: 5px;
  border: 1px solid #2e302f;
  transition: transform 0.3s ease-in-out;
}

.switch-reg-btn:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .register-form-reg {
    margin: 10rem 1rem 0 1rem;
  }
  .register-form-log {
    margin: 1rem;
  }

  .form-container {
    max-width: 400px;
    padding: 10px;
  }

  .form-container input[type='text'],
  .form-container input[type='email'],
  .form-container input[type='password'] {
    font-size: 12px;
  }

  .form-container label {
    font-size: 14px;
  }

  .register-buttons {
    flex-direction: column;
    gap: 10px;
  }

  .switcher-text {
    font-size: 14px;
  }

  .register-submit {
    width: 80%;
  }
}
